/* styles.css */
body {
    background-image: url('lebonbon.png');
    background-repeat: repeat;
    background-size: small;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Additional styling */
header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    padding: 50px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
}
.big-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff; /* Blue color */
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.big-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


